[class='portfolio'] {
    margin: 24px;
}

[class='header-font'] {
     font-family: 'Georgia';
     font-size: 25px;
     font-weight: bold;
     text-decoration: underline;
}

[class='card-header'] {
    font-size: 18px;
    font-weight: bold;
}

[class='card-bold'] {
    font-weight: bold;
}

[class="wrap-video"] {
    width: 100%;
    object-fit: cover;
}
