[class="about"] {
    margin: 24px;
}

[class="header-text"] {
    font-family: Trajan;
    font-style: italic;
    font-size: 20px;
    color: #3B5998;
}

[class="main-text"] {
    font-size: 20px;
    font-family: Courier New;
    margin: 50px;
}

[class="hashtag"] {
    font-style: italic;
    font-family: Times;
    font-size: 16px;
}